# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android & iOS build artifacts
*.apk
*.aab
*.xapk
*.ipa

# Decompiled & extraction scratch folders
decoded_apktool/
decoded_jadx/
native_libs/
xapk_extracted/
tools/
apk.sh-1.1.3/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
